.dashboardContainer{
    width: 100%;
    display: flex;
    /* padding: 1rem; */
    justify-content: space-between;
    /* background-color: pink; */
}
.dashboard{
    width: 33%;
    display: flex;
    margin: 1rem;
    align-items: center;
    /* border: 1px solid #F0C594; */
    border-radius: 5px;
    min-height: 6rem;
    outline: 1px solid white;
    font-size: 1.2rem;
    font-family: "Cambria", Cochin, Georgia, Times, 'Times New Roman', serif;
}
#participants{
    background-color: #F0C594;
    box-shadow: 1px 2px 12px #F0C594;
}
#participants:hover{
    box-shadow: 1px 2px 18px #F0C594 ;
}
#completions
{

    background-color: #87e79e;
    box-shadow: 1px 2px 12px #87e79e;

}
#completions:hover{
    box-shadow: 1px 2px 18px #87e79e;
}
#goodies{
    background-color: #ffcad4;
    box-shadow: 1px 2px 12px #ffcad4;

}
#goodies:hover{
    box-shadow: 1px 2px 18px #ffcad4;
}
.dashboardInner{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.dashboardIMG{
    width: 3rem;
    height: 3rem;
    margin: 1rem;
}

@media   (min-width: 100px) and (max-width:601px)  {
    .dashboardContainer{
        /* background-color: black; */
        flex-direction: column;
    }
    .dashboard{
        width: auto;
        margin-bottom: 0.5rem;
    }
}