::root{
    --darkBackground:black,
}
.container{
    padding: 0.8rem 0.3rem;
    display: flex;
    border-bottom:  1px solid black;
    justify-content: space-between;
}
.gdglogo{
    display: flex;
    width: auto;
    justify-content: flex-start;
    align-items: center;
    /* background-color: blue; */
}
.gdglogo img{
    width: 15rem;
    height: 2rem;
}
.option{
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: palegoldenrod; */
    /* background-color: pink; */
}
.option a{
    width: 1.5rem;
    display: flex;
    align-items: baseline;
    height: 1.5rem;
    padding: 0;
    margin: 0.5rem 1rem;

}
.option a img{
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
}
.option button{
    background-color: transparent;
    border: none;
    padding: 0;
}
.option button img{
    width: 1.8rem;
    height: 1.8rem;
    padding: 0;
    margin: 0;
}