::root{
    --darkBackground:black,
}
.container{
    padding: 0.8rem 0.3rem;
    display: flex;
    max-width: 100vw;
    overflow: hidden;
    border-bottom:  1px solid black;
    justify-content: space-between;
}
.gdglogo{
    display: flex;
    width: auto;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    /* background-color: blue; */
}
.gdglogo img{
    width: 15rem;
    height: 2rem;
}
.option{
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: palegoldenrod; */
    /* background-color: pink; */
}
.option a{
    width: 1.5rem;
    display: flex;
    align-items: center;
    height: 1.5rem;
    padding: 0;
    margin: 0.5rem 1rem;

}
.option a img{
    width: 1rem;
    height: 1rem;
    padding: 0;
}
.option button{
    background-color: transparent;
    border: none;
    padding: 0;
}
.option button img{
    width: 1.8rem;
    height: 1.8rem;
    padding: 0;
    margin: 0;
}

@media (min-width: 10px) and (max-width:601px) {
    .gdglogo{
        padding-left: 0.5rem;
    }
    .option button img{
        width: 1rem;
        height: 1rem;
    }
    .option{
        align-items: flex-end;
    }
    .gdglogo img{
        
        width: 12rem;
    }
    .option a{
        margin:  0.3rem;
    }
    .option a img{
        margin: 0;
    }
}